extends ../layout
block header
  //- Navbar
  nav.navbar.is-fixed-top.box-shadow-y(role='navigation', aria-label='main navigation')
    .navbar-brand
      a.navbar-item.has-text-weight-bold(href='#')
        | IT Quiz
      a.navbar-burger(data-target='navMenu')
        span
        span
        span
    .navbar-menu.has-background-white(id='navMenu')
      .navbar-start
        a.navbar-item(href='#') Giới thiệu
        a.navbar-item(href='#')
          span.icon
            i.fab.fa-glide-g
          | &nbsp;Hướng dẫn
        a.navbar-item(href='#') Người viết
      .navbar-end
        a.navbar-item(href='#') Đăng ký
        .navbar-item.has-dropdown.is-hoverable
          a.navbar-link(href='#') Đăng nhập
          .navbar-dropdown.is-right
            a.navbar-item(href='#') Sinh viên
            a.navbar-item(href='#') Giảng viên
  //- End header
block footer
  footer.navbar.is-fixed-bottom.has-text-centered.is-vcentered.box-shadow-y
    .column
      | &copy; 2019
