extends ../layout
block navbar
  include ../partials/navbar.pug

block content
  section.hero
    .hero-body
      .container
        nav.level
          .level-item
            div
              figure.image.is-64x64
                img.is-rounded(alt='Sinh viên', src='images/student.png', title='Số sinh viên')
              p.title 1,245
          .level-item
            div
              figure.image.is-64x64
                img.is-rounded(alt='Câu hỏi', src='images/question.png', title='Số câu hỏi trong hệ thống')
              p.title 3,100
          .level-item
            div
              figure.image.is-64x64
                img.is-rounded(alt='Giảng viên', src='images/lecturer.png', title='Số giảng viên')
              p.title 225
        .columns.is-vcentered
          .column.is-5.is-offset-1.landing-caption
            h1.title.is-1.is-bold.is-spaced Trắc nghiệm
            p.subtitle.is-muted Ôn tập kiến thức có thể với hình thức trắc nghiệm không? 
              | Hãy là người dùng của hệ thống để tìm hiểu được nhiều tri thức mới nhe.
            a.button.is-rounded.is-primary(target='_blank') Tham gia
          .column.is-5.is-offset-1
            figure.image.is-4by3
              img(src='images/iq-illustrate.png', style='display: block;')
block footer
  include ../partials/footer.pug
