doctype html
html.has-navbar-fixed-top
  include partials/head.pug
  body
    block navbar
    block content
    block footer
    //- script(src='https://use.fontawesome.com/releases/v5.3.1/js/all.js')
    script(src='/javascripts/utilities.js')