footer.footer
  .container
    .content.has-text-centered
      p
        strong QuizSysBLU
        |  by 
        a(href='https://sites.google.com/site/tvviem/') Viem Trieu
        | . The source code is licensed 
        a(href='mailto:tvviem@blu.edu.vn?Subject=Suggestion%20for%20using' target='_top') Viem Trieu