for objMsg in flash
  div(class='notification is-' + objMsg.type)
    button.delete
    if (Array.isArray(objMsg.message))
      for msgFlash in objMsg.message
        p= msgFlash.message
    else
      p= objMsg.message