for message in flash
  div(class='notification is-' + message.type + ' is-light')
    button.delete
    .content
      if (Array.isArray(message.message))
        ul
          each aMsg in message.message
            li= aMsg
      else
        p= message.message