nav.navbar.is-fixed-top.box-shadow-y(role='navigation', aria-label='main navigation')
  .container
    .navbar-brand
      a.navbar-item.has-text-weight-bold(href='/', title=siteName)
        | QuizSysBLU
      a.navbar-burger(data-target='navMenu')
        span
        span
        span
    #navMenu.navbar-menu.has-background-white
      .navbar-start
        if user!=null
          a.navbar-item(href='/user/dashboard')
            span.icon
              i.fas.fa-home
            | &nbsp;Bàn làm việc
        a.navbar-item(href='/guides')
          span.icon
            i.fab.fa-glide-g
          | &nbsp;Hướng dẫn
      .navbar-end
        if user!=null
          a.navbar-item(href='/user/logout') 
            | Thoát &nbsp;
            span.icon
              i(class=user.iconString)
        else
          a.navbar-item(href='/user/register') 
            span.icon
              i.fas.fa-user-plus
            | &nbsp;Đăng ký
          a.navbar-item(href='/user/login') 
            span.icon
              i.fas.fa-sign-in-alt
            | &nbsp;Đăng nhập
        //- .navbar-item.has-dropdown.is-hoverable
        //-   a.navbar-link
        //-     span.icon
        //-       i.fas.fa-sign-in-alt
        //-     | &nbsp;Đăng nhập
        //-   .navbar-dropdown.is-right
        //-     a.navbar-item(href='/login/student')
        //-       span.icon
        //-         i.fas.fa-user-tie
        //-       | &nbsp;Sinh viên
        //-     a.navbar-item(href='/login/lecturer')
        //-       span.icon
        //-         i.fas.fa-chalkboard-teacher
        //-       | &nbsp;Giảng viên