.column.is-9
  //- nav.breadcrumb(aria-label='breadcrumbs')
  //-   ul
  //-     li
  //-       a(href='../') Bulma
  //-     li
  //-       a(href='../') Templates
  //-     li
  //-       a(href='../') Examples
  //-     li.is-active
  //-       a(href='#', aria-current='page') Admin
  section.hero.is-info.welcome.is-small
    .hero-body
      .container
        h1.title
          | Hello, Admin.
        h2.subtitle
          | I hope you are having a great day!
  section.info-tiles
    .tile.is-ancestor.has-text-centered
      .tile.is-parent
        article.tile.is-child.box
          p.title 439k
          p.subtitle Users
      .tile.is-parent
        article.tile.is-child.box
          p.title 59k
          p.subtitle Products
      .tile.is-parent
        article.tile.is-child.box
          p.title 3.4k
          p.subtitle Open Orders
      .tile.is-parent
        article.tile.is-child.box
          p.title 19
          p.subtitle Exceptions
  .columns
    .column.is-6
      .card.events-card
        header.card-header
          p.card-header-title
            | Events
          a.card-header-icon(href='#', aria-label='more options')
            span.icon
              i.fa.fa-angle-down(aria-hidden='true')
        .card-table
          .content
            table.table.is-fullwidth.is-striped
              tbody
                tr
                  td(width='5%')
                    i.fa.fa-bell-o
                  td Lorum ipsum dolem aire
                  td.level-right
                    a.button.is-small.is-primary(href='#') Action
                tr
                  td(width='5%')
                    i.fa.fa-bell-o
                  td Lorum ipsum dolem aire
                  td.level-right
                    a.button.is-small.is-primary(href='#') Action
                tr
                  td(width='5%')
                    i.fa.fa-bell-o
                  td Lorum ipsum dolem aire
                  td.level-right
                    a.button.is-small.is-primary(href='#') Action
                tr
                  td(width='5%')
                    i.fa.fa-bell-o
                  td Lorum ipsum dolem aire
                  td.level-right
                    a.button.is-small.is-primary(href='#') Action
                tr
                  td(width='5%')
                    i.fa.fa-bell-o
                  td Lorum ipsum dolem aire
                  td.level-right
                    a.button.is-small.is-primary(href='#') Action
                tr
                  td(width='5%')
                    i.fa.fa-bell-o
                  td Lorum ipsum dolem aire
                  td.level-right
                    a.button.is-small.is-primary(href='#') Action
                tr
                  td(width='5%')
                    i.fa.fa-bell-o
                  td Lorum ipsum dolem aire
                  td.level-right
                    a.button.is-small.is-primary(href='#') Action
                tr
                  td(width='5%')
                    i.fa.fa-bell-o
                  td Lorum ipsum dolem aire
                  td.level-right
                    a.button.is-small.is-primary(href='#') Action
                tr
                  td(width='5%')
                    i.fa.fa-bell-o
                  td Lorum ipsum dolem aire
                  td.level-right
                    a.button.is-small.is-primary(href='#') Action
        footer.card-footer
          a.card-footer-item(href='#') View All
    .column.is-6
      .card
        header.card-header
          p.card-header-title
            | Inventory Search
          a.card-header-icon(href='#', aria-label='more options')
            span.icon
              i.fa.fa-angle-down(aria-hidden='true')
        .card-content
          .content
            .control.has-icons-left.has-icons-right
              input.input.is-large(type='text', placeholder='')
              span.icon.is-medium.is-left
                i.fa.fa-search
              span.icon.is-medium.is-right
                i.fa.fa-check
      .card
        header.card-header
          p.card-header-title
            | User Search
          a.card-header-icon(href='#', aria-label='more options')
            span.icon
              i.fa.fa-angle-down(aria-hidden='true')
        .card-content
          .content
            .control.has-icons-left.has-icons-right
              input.input.is-large(type='text', placeholder='')
              span.icon.is-medium.is-left
                i.fa.fa-search
              span.icon.is-medium.is-right
                i.fa.fa-check