extends ../layout
block content
  section.hero
    .hero-body
      .container.has-text-centered
        if flash
          include ../partials/messages.pug
        .columns.is-centered.is-mobile
          .column.is-5-tablet.is-4-desktop.is-3-widescreen.is-two-thirds-mobile.box
            h4.title.has-text-grey.is-4 NGƯỜI DÙNG
            form(action='/users/login', method='POST')
              .field
                .control.has-icons-left
                  input.input(type='text', placeholder='Tên đăng nhập', autofocus, autocomplete, name='userName')
                  span.icon.is-small.is-left
                    i.fas.fa-user
              .field
                .control.has-icons-left
                  input.input(type='password', placeholder='Mật khẩu', name='passWord')
                  span.icon.is-small.is-left
                    i.fas.fa-key
              .field
                label.checkbox
                  input(type='checkbox')
                  | &nbsp;Nhớ phiên
              .field
                button.button.is-primary.is-fullwidth(type='submit')
                  | Đăng nhập